# Archivos y carpetas generados por Visual Studio
bin/
obj/
.vs/
*.user

# Archivos de respaldo y caché
*.bak
*.cache

# Archivos de compilación
*.dll
*.exe
*.pdb

# Archivos de salida
*.log
*.log.*
*.publish.xml
*.publish.ps1

# Archivos de configuración local
app.config.user
*.suo
*.userprefs

# Archivos temporales
*.tmp
*.swp