<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <add name="myLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="E:\Archivos Andy\UNIVERSIDAD\3ER-SEMESTRE\BASE DE DATOS II\PBDD_AUTONET\Univalle.AutoNet\Log\AutoNet.log" />
      </listeners>
    </trace>
  </system.diagnostics>  
  
  
  
</configuration>